__pycache__/
*.pyc
.venv/
.ruff_cache/
.pytest_cache/
node_modules/
frontend/dist/
.env
.azure/
.artifacts/
data/*.csv
.testagent/
.playwright-mcp/
.coverage
images/
docs/presentation.md
.vscode
playwrightscratch/
